<!--
This launch file launches just the gazebo server. It's generic.
-->
<launch>
    <!-- Gazebo args -->
    <arg name="world_sdf_file" default="default.sdf" />
    <arg name="gazebo_version" default="" />
    <arg name="headless_rendering" default="" />
    <arg name="pause" default="False" />
    <arg name="physics_engine" default="" />
    <arg name="update_rate" default="" />
    <arg name="verbose" default="1" />

    <!-- Set use_sim_time parameter to true by default -->
    <arg name="use_sim_time" default="True" />
    <set_parameter name="use_sim_time" value="$(var use_sim_time)" />

    <include file="$(find-pkg-share firo_gazebo)/launch/gz_sim.launch">
        <arg name="world_sdf_file" value="$(var world_sdf_file)" />
        <arg name="gazebo_version" value="$(var gazebo_version)" />
        <arg name="headless_rendering" value="$(var headless_rendering)" />
        <arg name="only_server" value="True" />
        <arg name="pause" value="$(var pause)" />
        <arg name="physics_engine" value="$(var physics_engine)" />
        <arg name="update_rate" value="$(var update_rate)" />
        <arg name="verbose" value="$(var verbose)" />
    </include>
</launch>